  <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <%= link_to 'BLOG', posts_path %>
                        </li>

                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <%= link_to 'ABOUT', about_index_path %>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">SERVICES</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">CONTACT</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Charles Ara 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>