<!-- Don't think we want an edit page now that we have acticeadmin -->

<!--
<h1>Editing Post</h1>

<%= #render 'form', post: @post %>

<%= #link_to 'Show', @post %> |
<%= #link_to 'Back', posts_path %>
-->


